@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 25px 0;
    --color-title: #fff;    
}
body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    background-color: #60a2c93f;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  
    padding: var(--padding-container);
}
.hero{
    width: 100%;
    height: 100hv;
    min-height: 600px;
    max-height: 800px;
    position: relative;
  
    grid-template-rows: 100px 1fr;
    color: #ffffff;

}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0d223a 0%,#4e0e0e9d 100%), url('../images/ucsp_image.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;


}
.nav__container{
    position: fixed;
    width: 100%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    background-color: #0d223a;
    z-index: 1;
    
}
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav__title{
    font-weight: 300;
}
.nav__link{
    margin-left: auto;
    padding: 0;
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    justify-content:right;
    align-items: center;
}
.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
    
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
    
}
.nav__img{
    display: block;
    width: 30px;
}
.nav__close{
    display: var(--show, none);
}

.hero__container{
    padding-top: 3rem;
    max-width: 800px;
 
    display: grid;
    grid-auto-rows: max-content;
    align-content: right;
    gap: 2em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__title{
    font-size: 2rem;

}
.hero__paragraph{
    margin-bottom: 20%;
}
.cta{
    display: inline-block;
    background-color: #0d223ae0;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 15px;
    margin-bottom: 45px;

}
/* Knowledge */

/*.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}*/

.knowledge__container{
    display: flex;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.knowledge__picture{
    max-width: 300px;
    display: inline-block;
}
.knowledge__paragraph{
    line-height: 1.5;
    margin-bottom: 15px;
    
}
.knowledge__img{
    margin: 20px 5%;
    box-shadow: var(--color-3) 8px 8px 8px;
    width: 90%;
}

 /* Footer */
 .footer{
    background-color: #0d223a;
 }
 .footer__title{
    font-weight: 300;
    font-size: 2rem;
    border-bottom: rgb(0, 0, 0) 1px solid;
    margin: 20px;
    
 }
 .footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}
.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;

}
.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}
 .footer__copyright{
    font-weight: 300;
 }
 .footer__icons{
    display: inline-flex;
    margin-bottom: 10px;
 }

 .footer__img{
    width: 30px;
 }
 

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para los encabezados */
  .headline {
    margin: 20px 0;
  }
  
  .headline__size_x3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .headline__size_x4 {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .headline__outset {
    text-align: center;
  }
  
  .headline__outset__lg {
    margin-bottom: 40px;
  }
  
  .headline__offset_y_40 {
    margin-top: -40px;
  }
  
  /* Estilos para las imágenes */
  .tile_image__element {
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    margin: 20px 0;
    position: relative;
    height: 400px;
  }
  
  .tile_image__element__thumb {
    flex: 1;
    
    position:relative;
    left: 0;
    top: 0;
  }
  
  .tile_image__element__thumb__height_35 {
    height: 35vh;
    overflow: hidden;
  }
  
  .image__absolute {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image__center {
    margin: 0 auto;
  }
  
  .lazyloaded {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  /* Contenido de la tarjeta */
  .tile_image__element__content {
    position: relative;
    flex: 2;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .tile_image__element__content__inner {
    padding: 20px;
  }
  
  .tile_image__element__content__inner__white {
    background-color: white;
  }
  
  /* Estilos para la lista de iconos */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos para el autor */
  .author {
    margin-top: 20px;
  }
  
  .author h6 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .author small {
    font-size: 14px;
    color: #666;
  }
  button {
    background: #0d223a;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: perspective(10px);
  }
  
  span {
    display:inline-flex;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }
  /* From Uiverse.io by Praashoo7 */ 
.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}
